@import url(./main.css);

.our-story {
  position: relative;
  padding-block: 4rem 8rem;
  padding-left: var(--space-3xl);
  border-bottom: 1px solid #eee;
}

.our-story > .grid {
  --gap: var(--space-l);
  grid-template-columns: repeat(2, 1fr);
}

.our-story h1 {
  max-width: 5ch;
  font-size: calc(var(--fs-900) * 1.5);
  border-block: 1px solid #212529;
  padding-block: var(--space-3xs) var(--space-s);
  margin-bottom: var(--space-m);
}

.our-story h1 + p {
  margin-bottom: var(--space-s);
}

.brand-design {
  font-size: var(--fs-200);
}

.brand-design > p:first-child {
  font-weight: 700;
}

.our-story__img {
  align-self: end;
}

.our-story__img img {
  object-fit: cover;
  aspect-ratio: 1.4;
  height: 45rem;
  border-radius: 1rem;
}

@media (max-width: 50em) {
  .our-story {
    padding-left: var(--space-l);
  }

  .our-story > .grid {
    grid-template-columns: 1fr;
  }

  .our-story__img img {
    aspect-ratio: 1;
    height: auto;
  }
}

@media (max-width: 35em) {
  .our-story {
    padding-left: 0;
  }
}
