@import url(./main.css);

/* Our Story */
.our-story {
  position: relative;
  padding-block: 4rem 8rem;
}

.our-story > .grid {
  --gap: var(--space-xl);
  grid-template-columns: repeat(2, 1fr);
}

.our-story h1 {
  max-width: 5ch;
  font-size: calc(var(--fs-900) * 2);
  border-block: 1px solid #212529;
  padding-block: var(--space-3xs) var(--space-s);
  margin-bottom: var(--space-m);
}

.our-story h1 + p {
  margin-bottom: var(--space-s);
}

.brand-design {
  font-size: var(--fs-200);
}

.brand-design > p:first-child {
  font-weight: 700;
}

.our-story__img {
  align-self: end;
}

.our-story__img img {
  object-fit: cover;
  aspect-ratio: 1.4;
  height: 45rem;
  border-radius: 1rem;
}

@media (max-width: 50em) {
  .our-story > .grid {
    grid-template-columns: 1fr;
  }

  .our-story__img img {
    aspect-ratio: 1;
    height: auto;
  }
}

/* Our Mission */
.our-mission {
  margin-bottom: 4rem;
}

.our-mission > .grid {
  --gap: var(--space-xl);
  grid-template-columns: repeat(2, 1fr);
}

.our-mission__item {
  font-size: calc(var(--fs-400) * 0.9);
}

.our-mission__item > p:first-child {
  font-weight: 700;
}

.our-mission__img img {
  border-radius: 1rem;
  height: 32rem;
  object-fit: cover;
  aspect-ratio: 1.5;
}

.our-mission__item ul {
  padding-left: 0;
  list-style: none;
}

.our-mission__item svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  margin-top: 4px;
}

.our-mission__item li {
  --gap: var(--space-3xs);
}

@media (max-width: 50em) {
  .our-mission > .grid {
    grid-template-columns: 1fr;
  }

  .our-mission__img {
    order: 2;
  }

  .our-mission__img img {
    height: auto;
    aspect-ratio: 1;
  }
}

/* Sustainability */
.sustainabilty {
  margin-block: 8rem 4rem;
  text-align: center;
}

.sustainabilty h2 + p {
  font-size: var(--fs-200);
  margin-top: var(--space-2xs);
}

.sustainability__grid {
  --gap: var(--space-l);
  grid-template-columns: repeat(2, 1fr);

  text-align: left;
  margin-top: var(--space-xl);
}

.sustainability__grid h3 {
  font-size: var(--fs-500);
}

.sustainability__peels {
  --gap: var(--space-l);
  row-gap: var(--space-s);
  grid-template-columns: repeat(2, 1fr);

  font-size: var(--fs-200);
  max-width: 50ch;
  margin-top: var(--space-m);
}

.sustainability__peels p:first-child {
  font-size: calc(var(--fs-900) * 1.2);
  font-weight: 900;
  line-height: 0.5;
  opacity: 0.25;

  position: relative;
  top: 0.75rem;
  left: -2px;
}

.sustainability__img img {
  aspect-ratio: 1.2;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 50em) {
  .sustainability__grid {
    grid-template-columns: 1fr;
  }

  .sustainability__img img {
    aspect-ratio: 1;
  }
}
