@import url(./main.css);

main {
  padding-top: 20vh;
  background-image: url("../img/homepage-background.png");
  background-repeat: no-repeat;
  background-size: auto 60vh;
  background-position: top center;
}

.red-line {
  opacity: 0.5;
  background-color: #ee7058;
  width: 100%;
  height: 1.5rem;
}

.white-line {
  opacity: 0.5;
  background-color: white;
  width: 100%;
  height: 2.5rem;
  margin-top: 1.5rem;
}

.main__content {
  border-bottom: 2rem solid #ee7058;
  color: #7f7f7f;
  background-color: white;
}

.main__content .grid {
  grid-template-columns: 1fr 1fr;
  padding-inline: 1.5rem;
  padding-block: 1rem 5rem;
}

.main__content p:first-of-type {
  font-size: 2.5rem;
  font-style: italic;
}

.main__content p:last-of-type {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

.company-details {
  padding-left: 9rem;
  padding-block: 2rem 0.5rem;
  font-size: 0.625rem;
  background-color: #404040;
  color: #7f7f7f;
}

.company-details ul {
  padding-left: 0;
  list-style-type: none;
}

.contact a {
  display: block;
  text-decoration: none;
}

.contact a:first-of-type {
  color: rgb(45, 41, 255);
  text-decoration: underline;
}

@media (max-width: 50em) {
  .main__content > .grid {
    --gap: 1rem;
    grid-template-columns: 1fr;
  }

  .company-details {
    padding-left: 0;
  }
}
