@import url("./main.css");

.materials-header {
  color: white;
  background-image: url("../img/materials-bg.webp");
  background-color: black;
  background-position: center;
  background-size: cover;
}

.materials-header .wrapper {
  padding-block: 8rem;
  padding-left: 5rem;
  max-width: 1200px;
}

.materials-header h1 {
  font-size: 3.167rem;
  margin-bottom: 0.25rem;
  color: white;
}

.materials-header p {
  font-style: italic;
  font-size: 1rem;
}

@media (max-width: 50em) {
  .materials-header .wrapper {
    padding-left: 1.5rem;
  }

  .materials-header h1 {
    font-size: 2.5rem;
  }
}

.materials-list__grid {
  --gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.materials-list {
  padding-block: 4rem;
}

.material h2 {
  font-size: 1.125rem;
  padding-bottom: 2rem;
  color: #808080;
}

.material ul {
  font-size: 0.75rem;
  font-style: italic;
  padding-left: 1rem;
  color: #a6a6a6;
}

.material__img {
  flex-shrink: 0;
}

.material__img img {
  width: 126px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 50em) {
  .materials-list__grid {
    --gap: 2rem;
    grid-template-columns: 1fr;
  }
}
