@import url(./main.css);

/* Hero */
.hero {
  margin-block: 4rem 6rem;
}

.hero__grid {
  --gap: var(--space-l);
  grid-template-columns: repeat(2, 1fr);
}

.hero__text {
  --flow-space: var(--space-s);
}

.hero__text > p:last-of-type {
  margin-bottom: var(--space-s);
}

.hero__img img {
  border-radius: 0.5rem;
  aspect-ratio: 667/550;
  object-fit: cover;
}

@media (max-width: 50em) {
  .hero__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* Our Partners */
.our-partners {
  padding-block: 4rem;
  color: white;
  background-color: #212529;
}

.our-partners h2 {
  text-align: center;
  font-size: var(--fs-700);
  margin-bottom: var(--space-xl);
  color: white;
}

.our-partners__grid {
  --gap: var(--space-l);
  grid-template-columns: repeat(4, 1fr);
}

.partner {
  --flow-space: var(--space-s);
}

.partner__img {
  width: 3rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

.partner:last-child .partner__img {
  padding: 0.2rem;
}

.partner__img img {
  aspect-ratio: 1;
  object-fit: contain;
}

.partner__text h3 {
  color: white;
  font-size: var(--fs-400);
  margin-bottom: var(--space-2xs);
}

.partner__text p {
  font-size: var(--fs-200);
}

@media (max-width: 60em) {
  .our-partners__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 35em) {
  .our-partners__grid {
    grid-template-columns: 1fr;
  }
}
