@import url(./main.css);

/* Hero */
.hero {
  margin-block: 6rem;
}

.hero h1 {
  max-width: 15ch;
}

.hero .wrapper > .grid {
  --gap: var(--space-s);
  grid-template-columns: 2fr 1fr;
}

.hero h1 + p {
  font-size: var(--fs-200);
}

@media (max-width: 50em) {
  .hero .wrapper > .grid {
    grid-template-columns: 1fr;
  }
}
